.form{
    display: inline-block
}
label,input,select{
    margin: 3px;
    /* display: inline-block; */
}

label{
    float: left;
}

input{
    margin-left: 100px;
    float: right;
    align-items:self-start
}
select{
    margin-left: 137px;
}

button:hover{
    border: 1px solid rgb(179, 156, 29);
}
